body{
  overflow-y: scroll;
  overflow-x: hidden;
}
/* FIX FLOAT */
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: orangered;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
body {
  font-family: "Exo", sans-serif;
  font-size: 14px;
}

/* HEADER */
.container-fluid {
  margin-top: -5px;
}
.header {
}

/* HEADER FIRST */
.header-first {
  margin-top: 4px;
  height: 68px;
  border: 1px solid #ccc;
  align-items: center;
}

.hf-content {
  text-align: center;
  line-height: 68px;
}
.hf-content h2 {
  float: left;
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
  line-height: 68px;
}

.hf-content .searchForm {
  display: inline-block;
  width: 50%;
  line-height: 24px;
}

.searchForm #search {
  width: 80%;
  padding: 4px;
}

.searchForm .search-btn {
  background-color: #fff;
  border: none;
  font-size: 20px;
  position: relative;
  left: -30px;
  top: 5px;
}
.search-btn i:hover {
  color: orangered;
}

.hf-content .list-item {
  float: right;
}

.hf-content .list-item li {
  list-style: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 14px;
  line-height: 68px;
}

.list-item ul {
  padding-left: 0;
  margin-bottom: 0;
}

/* HEADER SECOND */
.header-second {
  height: 54px;
}

.hs-content {
  line-height: 54px;
  text-align: center;
}

.hs-content .list-item2 ul {
  padding-left: 0;
  margin-bottom: 0;
}

.hs-content .list-item2 li {
  display: inline-block;
  font-size: 17px;
  margin-left: 14px;
  line-height: 54px;
  margin-left: 28px;
}

.list-item2 li a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.list-item2 li a:hover {
  color: orangered;
}
.quantity_favorite,
.quantity_cart {
  border: 1px solid #fff;
  padding: 3px 5px;
  background-color: #ec4f21;
  border-radius: 10px;
  position: relative;
  top: -15px;
  color: #fff;
  cursor: pointer;
}
.content_header1:hover {
  cursor: pointer;
  color: #ec4f21;
}
.ti-angle-down:hover {
  cursor: pointer;
  color: #ec4f21;
}
.ti-angle-down {
  font-size: 15px;
}

/* Banner */
.banner {
  width: 100%;
  background-image: url("https://bizweb.dktcdn.net/100/396/362/themes/777022/assets/slider_1.jpg?1664182486212");
  background-repeat: no-repeat;
  height: 75vh;
  background-size: cover;
}

/* List product */
.mtmb {
  margin-top: 40px;
  margin-bottom: 20px;
}
.name-product {
  text-align: center;
  font-weight: 600;
  font-size: 17px;
}
.img_product_lst {
  width: 100%;
  object-fit: contain;
}
.lst_product {
  margin-top: 20px;
  margin-bottom: 20px;
}
.lst_product:hover {
  cursor: pointer;
  transform: rotate(-10deg) scale(1);
  transition: 0.5s;
}
.lst_product:hover .name-product {
  color: #ec4f21;
}

/* Hot product */
.name-product_hot {
  text-align: center;
  font-size: 14px;
}
.price_product {
  text-align: center;
  font-size: 17px;
  color: #ec4f21;
}
.sub_img_product {
  margin: 10px 0;
  cursor: pointer;
}
.hot_product:hover {
  border: 1px solid #d4bcbc42;
  cursor: pointer;
}
.border_product {
  border: 1px solid #ec4f21;
  margin-right: 5px;
}
.border_product img {
  padding: 5px;
}

.show_all {
  margin: 0 auto;
  padding: 15px;
  border: none;
}
.btn_show {
  margin-top: 20px;
}
.show_all:hover {
  background-color: #ec4f21;
  color: #fff;
  cursor: pointer;
}

/* sub product */
.sub_product {
  font-size: 14px;
}
.sub_contet:hover {
  color: #ec4f21;
  cursor: pointer;
}
.sub_product {
  border-top: 1px solid #d4bcbc42;
  border-bottom: 1px solid #72696942;
  position: absolute;
  background: #fff;
  width: 101vw;
  /* height: 55vh; */
  display: none;
  animation: flow-up;
  /* animation-delay : .5s; */
  animation-duration: 1s;
}
.sub_product_content {
  padding: 30px 50px;
  margin-left: 200px;
  height: 60vh;
}
.sale_img {
  width: 100%;
  padding-right: 35px;
}
@keyframes flow-up {
  from {
    top: 200px;
    opacity: 0.5;
  }
  to {
    top: 115px;
    opacity: 1;
  }
}
.icon_contact {
  font-size: 30px;
  margin-left: 15px;
}
.contact {
  border-top: 1px solid black;
  padding-top: 20px;
}
.contact li {
  margin-bottom: 20px;
}

/* Profile Page */
.content_page {
  margin-left: 15%;
}
.profile_page {
  display: inline-block;
  margin: 0 5px;
}
.customer_page {
  background-color: #f9f9f9;
  padding: 5px 0;
  line-height: 40px;
}

/* title page */
.main_page {
  color: #ec4f21 !important;
}
.heading_title {
  font-size: 20px;
}
.hello_title {
  font-weight: 600;
  margin-bottom: 40px;
  cursor: pointer;
  display: inline-block;
}
.cate_cus {
  cursor: pointer;
}
.input_infor {
  border: none;
  margin-left: 15px;
  width: 60%;
}
.block_content {
  margin-bottom: -20px;
}
.title_block {
  width: 20%;
}

/* Edit button */
.edit_profile_btn {
  /* border: 1px solid black; */
  padding: 10px;
  /* color: #fff; */
  /* border-radius: 5%; */
  /* background-color: #ec4f21; */
}

  


.edit_profile_btn:hover {
  opacity: 0.5;
}

/* Table order */
table,
th,
td {
  border: 1px solid black;
}
.order {
  width: 80%;
}
thead th {
  text-align: center;
}
.content_order {
  margin-top: 1%;
}

/* Change pass word */
.oldpass {
  font-size: 15px;
  padding: 5px 15px;
  margin-top: 10px;
}
.block_change_pass {
  margin-top: 20px;
}

/* Add adr */
.block_add_adr {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.adr_mt_10 {
  margin-top: 10px;
}
.font_block_adr {
  font-size: 15px;
  padding: 5px 15px;
  margin-top: 10px;
}
.zip_code {
  width: 69%;
  margin-bottom: 10px;
}

/* Introduce Page */
.heading_intro:hover {
  color: #ec4f21;
  cursor: pointer;
}
.intro_content{
  line-height: 1.8;
    text-align: justify;
}
.block_intro {
  margin-left: 20%;
}
.block_content {
  margin-bottom: 15px;
}
.fw {
  font-weight: 600;
  font-style: italic;
}
.fw2 {
  font-weight: 700;
}

/* Product page */
.img_product_top {
  background-image: url("  https://bizweb.dktcdn.net/100/396/362/themes/777022/assets/bestsell.jpg?1664182486212");
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding: 15px 0;
  font-weight: 600;
}
.hot_sell_product {
  margin-top: 15px;
  margin-bottom: 15px;
}

.category_product {
  border: 1px solid #72696942;
  margin-bottom: 10px;
}

.sub_cate:hover {
  color: #ec4f21;
  cursor: pointer;
}
.head_cate {
  /* padding-top: 30px; */
  border-bottom: 1px solid #72696942;
  font-size: 15px;
  font-weight: 700;
  padding-top: 20px;
  height: 70px;
}
.sub_cate {
  font-size: 15px;
  font-style: italic;
  opacity: 0.8;
  height: 4%;
}

/* Choice product page */
.filter_asc_desc {
  border-bottom: 1px solid #72696942;
}
.product_detail_block {
  margin-top: 20px;
}
.product_detail_content {
  border: 1px solid #72696942;
  cursor: pointer;
  margin-right: 4%;
  margin-bottom: 20px;
}
.name_product {
  padding-top: 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}
.name_product:hover {
  color: #ec4f21;
}

/* Filter product */
.cb_choice {
  margin-left: 15px;
  cursor: pointer;
}

.title_filter {
  opacity: 0.7;
}
.title_filter:hover {
  color: #ec4f21;
  cursor: pointer;
}
.block_choice_cb {
  margin-bottom: 10px;
}
.sub_choice {
  margin-left: 5px;
}
.block_filter {
  border-bottom: 1px solid #72696942;
  margin-bottom: 10px;
}

/* Favorite Product */
.favo_product {
  text-align: center;
  font-size: 14px;
  color: #ec4f21;
  font-style: italic;
}

/* cart */
.block_product_cart {
  margin-bottom: 30px;
  height: 40vh;
  border-bottom: 1px solid rgb(182, 180, 180);
}
.name_product_cart {
  margin-top: 5vh;
}
.price_product_cart {
  margin-top: 7vh;
  font-weight: 700;
}
.btn_delete_cart {
  margin-left: 4%;
  font-style: italic;
}
.cl_organe {
  color: #ec4f21 !important;
}
.btn-decrease {
  width: 1vw;
  padding: 8px 16px;
  border: 1px solid rgb(182, 180, 180);
  display: inline-block;
  cursor: pointer;
  margin-right: -5px;
}
.quantity_cart_p {
  width: 2vw;
  padding: 8px;
  border: 1px solid rgb(182, 180, 180);
  display: inline-block;
}
.quantity_cart_block {
  margin-top: 7vh;
}
.btn-increase {
  width: 1vw;
  padding: 8px 16px;
  border: 1px solid rgb(182, 180, 180);
  display: inline-block;
  cursor: pointer;
  margin-left: -5px;
}

/* btn pay */
.sml_price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
}
.big_price {
  font-weight: 700;
  font-size: 30px;
  margin-right: 20px;
  color: #ec4f21;
  display: flex;
  justify-content: flex-end;
}
.btn_pay {
  width: 80%;
  padding: 10px 0;
  background-color: #ec4f21;
  color: #fff;
  cursor: pointer;
  border: none;
}

/* LOgin page */
.login_form {
  margin-top: 30px;
  margin-left: 25%;
  margin-bottom: 15%;
}
.content_pic {
  position: relative;
  top: -23%;
  left: 7%;
}
.form_right,
.form_left {
  height: 65vh;
}
.form_right {
  margin-left:-2%;
}

.login_title {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid rgba(188, 183, 183, 0.7);
  border-right: 1px solid rgba(188, 183, 183, 0.7);
  height: 5vh;
  padding: 10px 0;
}
.register_title {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid rgba(188, 183, 183, 0.7);
  border-left: 1px solid rgba(188, 183, 183, 0.7);
  height: 5vh;
  padding: 10px 0;
}
.title_block_login {
  height: 5vh;
  margin-bottom: 25%;
}
.input_block_login {
  margin-top: -20%;
}
#email_login {
  padding: 8px;
  margin-left: 3%;
  width: 95%;
  margin: 10px 0;
}
.email_login {
  margin-top: 20px;
}
#password {
  padding: 8px;
  margin-left: 3%;
  width: 95%;
  margin: 10px 0;
}
.forget_pass {
  float: right;
}
.btn_login {
  width: 95%;
  padding: 8px;
  /* color: #fff;
  background-color: #ec4f21;
  border: none;
  cursor: pointer; */
  margin: 20px 0;
}
.fb-login-button {
  width: 40%;
  height: 40px;
  margin-left: 4%;
  margin-right: 8%;
  cursor: pointer;
}
.gg-login-button {
  width: 40%;
  height: 40px;
  cursor: pointer;
}

.input_register {
  padding: 8px;
  margin-left: 3%;
  width: 95%;
  margin: 10px 0;
}
.label_register {
    /* margin-top: 20px; */
}


/* pay */
.infor_cus_order{
  margin-left: 8%;
  height: 50vh;
}
.heading{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
  height: 15vh;
}
.infor_cus{
  margin-right: 10px;
}
.title_cus{
  font-weight: 700;
  font-size: 20px;
 
}
.logout_order{
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  float: right;
  font-style: italic;
  opacity: 0.7;
}
.choice_adr{
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 16px;
}
.input_order{
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 16px;
}
.transport{
  height: 5vh;
}
.price_ship{
  float: right;
}

.block_ship{
  height: 6vh;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}
input{
  cursor: pointer;
}
label{
  cursor: pointer;
}

.infor_order{
 background-color: #fafafa;
 border-left: 1px solid #5c5959;
 height: 100vh;
}
.head_order{

  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #5c5959;
}
.head_order h5{
  font-weight: 700;

}
.quanity_pro_order{
  font-size: 15px;
  width: 20%;
  border: 1px solid black;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 25px;
  position: relative;
  right: -90%;
  top: -10%;
}

.order_product{
  margin-top: 10px;
  padding: 0 20px;
}
.img_pro_order{
  width: 100%;
  border-radius: 10%;

}
.title_pro{
  font-weight: 700;

}
.pro_or_block{
  overflow-y: scroll;
  height: 40vh;
  width: 100%;
  border-bottom:  1px solid #5c5959;
  margin-top: 20px;
  margin-left: 5px;
}
.voucer{
  margin-top: 20px;
  margin-left: 5px;
  border-bottom:  1px solid #5c5959;
  padding-bottom: 20px;
}
.code_voucher input{
  width: 100%;
  padding: 10px;
}
.btn_apply_voucher{
  width: 100%;
  padding: 10px;
  cursor: pointer;
  /* background-color: #5c5959;
  color: #fff;
  border: none;
  border-radius: 10%; */
}
.cost_order{
  margin-top: 20px;
  margin-left: 5px;
  border-bottom:  1px solid #5c5959;
  padding-bottom: 10px;
}
.cost_ship{
float: right;
}
.price_order{
  float: right;
}

.pay_order{
  margin-top: 20px;
  margin-left: 5px;
}
.total_order{
  font-size: 20px;
}
.total_order_price{
  font-size: 20px;
  font-weight: 700;
  float: right;
}
.btn_pay_voucher{
  width: 100%;
  padding: 10px;
  cursor: pointer;
  /* background-color: #5c5959;
  color: #fff;
  border: none; */
  /* border-radius: 10%;
  float: right; */
}
.back_to_cart{
  font-weight: 700;
  font-style: italic;
  opacity: 0.7;
}

/* Product detail */
.img_pro_detail img{
  width: 100%;
  object-fit: contain;
}
.name_pro{
  font-weight: 700;
}
.infor_pro_detail{
}
.detail_content{
  border-bottom:  1px solid #5c5959;
}
.price_detail{
  color: #ec4f21;
  font-size: 30px;
  font-weight: 700;
  padding-top: 10px;
}
  .market_price{
    opacity: 0.7;
  }
  del{
    padding: 0 5px;
  }
  .bg_fw_detail{
    background-color: #f7f0f0e5;
    font-weight: 700;
  }
  .quantity_btn_detail{
    margin-top: 20px;
  }
  .add_cart{
    /* color: #fff; */
    /* background-color: #ec4f21; */
    /* border: none; */
    text-align: center;
    padding: 10px 20px;
    width: 100%;
  }
  .favo_btn{
    margin-top: 20px;
    font-size: 20px;
    font-style: italic;
  }
  .favo_btn:hover{
    opacity: 0.7;
  }

  .speci_pro{
    margin-top: 50px;
  }

  button {
    z-index: 1;
    position: relative;
    color: #ff3e00;
    padding: 8px 16px;
    outline: none;
    border: 1px solid #ff3e00;
    background-color: transparent;
    transition: all 0.25s ease-in-out;
  }

  button::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset: 0;
    background-color: #ff3e00;
    transform-origin: center left;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
  }

  button:hover {
    cursor: pointer;
    color: #fff;
  }

  button:hover::before {
    transform-origin: center right;
    transform: scaleY(1);
  }